body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.container__global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

form label {
  margin-bottom: 0.5rem;
}

form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 0.7rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  form {
    padding: 1rem;
  }
}
